@model GCNI.Models.GCNIModel
@{
    ViewBag.Title = "GCNIManagement";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
@*<!DOCTYPE HTML>
<html>
<head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ArticleManagement</title>

<link type="text/css" rel="stylesheet" href="~/css/demo.css">
<link type="text/css" rel="stylesheet" href="~/css/jquery-te-1.4.0.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="~/js/jquery-te-1.4.0.min.js" charset="utf-8"></script>
</head> 
<body>*@
<link href="~/css/tableStyle.css" rel="stylesheet" />
<style>
     .tbtext {
	border:2px solid #456879;
	border-radius:10px;
	height: 30px;
	width: 500px;
    padding: 7px
}
.tbeditor {
	border:2px solid #456879;
	border-radius:10px;
	height: 100px;
	width: 500px;
    padding: 7px
}
</style>
<div class="container">
  <div class="dropdown" style="width:265px;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:197px;">Select Category
    <span class="caret"></span></button>
    <ul class="dropdown-menu" id="ThinkDDL">
      <li><a href="#" data-op="Governing Council">Governing Council</a></li>
      <li><a href="#" data-op="Secretariat">Secretariat</a></li>
        <li><a href="#" data-op="10 Principles">10 Principles</a></li>
        <li><a href="#" data-op="UNGC">GCNI-UNGC</a></li>
    </ul>
  </div>
</div>
@using (Html.BeginForm("GCNIManagement", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{ 
    @*<table border="1" bgcolor="red" width="100%">
    <tr>
        <td align="center"><a href="~/Admin/EventManagement">Event</a></td>
        <td align="center"><a href="~/Admin/PublicationManagement">Publication</a></td>
        <td align="center"><a href="~/Admin/NewsManagement">News</a></td>
        <td align="center"><a href="~/Admin/ArticleManagement">Article</a></td>
    </tr>
    </table>*@
<center><h2>Govt. Council & Secretariat Management</h2></center>
<center><table style="width: 80%;" border="1">
    <tr>
        <td colspan="2" align="center" height="30"><h2 id="msg">@ViewBag.Message</h2></td>
    </tr>
    <tr>
        <td>Category</td>
        <td>@Html.TextBoxFor(M => M.objGovCounAndSec_M.Cat, new { @id="cat", @Maxlength="50", @size="50",@class="tbtext2", @onblur = "msgclear();RemoveClass(this);"})</td>
    </tr>
    <tr>
        <td>Link</td>
        <td>@Html.TextBoxFor(M => M.objGovCounAndSec_M.Link, new { @id="Link", @Maxlength="50", @size="50",@class="tbtext", @onblur = "msgclear();RemoveClass(this);"})</td>
    </tr>
    <tr>
        <td>Description
            <br/><span id="Imgsize">1000 Characters Maximum</span>
        </td>
        <td>@Html.TextAreaFor(M => M.objGovCounAndSec_M.Description, new { @id="Desc", @Maxlength="1000",@class="jqte-test", @onblur = "msgclear();RemoveClass(this);"})
            <br /><span id="overmsg"></span>
        </td>
    </tr>
    <tr >
        <td colspan="2" align="Center">
            <input class="btn btn-primary" id="Submit" type="submit" value="Save" name="btntype" onclick="return Validate();"/></td>
    </tr>
</table></center>
    <br />
    <center>
        <table id="tblData1" class="CSSTableGenerator">
            <tr bgcolor="lightgray">
                <td colspan="6"><b>GCNI-UNGC</b></td>
            </tr>
        <tr>
            @*<th align="center">ID</th>*@
            <td align="center">Cat</td>
            <td align="center">Link</td>
            <td align="center">Description</td>
            <td align="center" width="170">Action</td>
        </tr>
        @foreach (GCNI.Models.GovCouncilingANDSecretariat obj in Model.objGovCounAndSec_ML)
        {
            if (obj.Cat == "UNGC")
            {
                <tr>
                    @*<td align="center">
                        <input type="hidden" value='@obj.id' data-title='@obj.Title' data-des='@obj.Description' data-Disp='@obj.IsDisplayOnHome'/>
                       <span>@Html.Raw(obj.id)</span>
                    </td>*@
                    <td>
                       <span>@Html.Raw(obj.Cat)</span>
                    </td>
                    <td>
                       <span>@Html.Raw(obj.Link)</span>
                    </td>
                    <td>
                       <span>@Html.Raw(obj.Description)</span>
                    </td>
                    <td>
                        <input type="hidden" value='@obj.id' data-cat='@obj.Cat' data-des='@obj.Description' data-link='@obj.Link'/>
                       <span><input id="Edit" class="testbutton1" type="Submit" value="Edit" name="btntype" onclick="FillEdit('tblData1',@obj.id); return false;" />@*<a href="#" onclick="FillEdit(@obj.id); return false;">Edit</a>*@ / <input id="Delete" type="submit" class="testbutton1" value="Delete" name="btntype" onclick="    Deleterecord(@obj.id);"/> @*<a href="#" onclick="Deleterecord(@obj.id); return false;">Delete</a></span>*@
                    </td>
                </tr>
            }
        }
    </table><br />
        <table id="tblData2" class="CSSTableGenerator">
            <tr bgcolor="lightgray">
                <td colspan="6"><b>10 Principle</b></td>
            </tr>
            <tr>
                @*<th align="center">ID</th>*@
                <td align="center">Cat</td>
                <td align="center">Link</td>
                <td align="center">Description</td>
                <td align="center" width="170">Action</td>
            </tr>
            @foreach (GCNI.Models.GovCouncilingANDSecretariat obj in Model.objGovCounAndSec_ML)
            {
                if (obj.Cat == "10 Principles")
                {
                <tr>
                    @*<td align="center">
                        <input type="hidden" value='@obj.id' data-title='@obj.Title' data-des='@obj.Description' data-Disp='@obj.IsDisplayOnHome'/>
                       <span>@Html.Raw(obj.id)</span>
                    </td>*@
                    <td>
                        <span>@Html.Raw(obj.Cat)</span>
                    </td>
                    <td>
                        <span>@Html.Raw(obj.Link)</span>
                    </td>
                    <td>
                        <span>@Html.Raw(obj.Description)</span>
                    </td>
                    <td>
                        <input type="hidden" value='@obj.id' data-cat='@obj.Cat' data-des='@obj.Description' data-link='@obj.Link' />
                        <span><input id="Edit" class="testbutton1" type="Submit" value="Edit" name="btntype" onclick="FillEdit('tblData2',@obj.id); return false;" />@*<a href="#" onclick="FillEdit(@obj.id); return false;">Edit</a>*@ / <input id="Delete" type="submit" class="testbutton1" value="Delete" name="btntype" onclick=" Deleterecord(@obj.id);" /> @*<a href="#" onclick="Deleterecord(@obj.id); return false;">Delete</a></span>*@
                    </td>
                </tr>
                }
            }
        </table><br />
        <table id="tblData3" class="CSSTableGenerator">
            <tr bgcolor="lightgray">
                <td colspan="6"><b>Governing Counciling</b></td>
            </tr>
            <tr>
                @*<th align="center">ID</th>*@
                <td align="center">Cat</td>
                <td align="center">Link</td>
                <td align="center">Description</td>
                <td align="center" width="170">Action</td>
            </tr>
            @foreach (GCNI.Models.GovCouncilingANDSecretariat obj in Model.objGovCounAndSec_ML)
            {
                if (obj.Cat == "Governing Council")
                {
                <tr>
                    @*<td align="center">
                        <input type="hidden" value='@obj.id' data-title='@obj.Title' data-des='@obj.Description' data-Disp='@obj.IsDisplayOnHome'/>
                       <span>@Html.Raw(obj.id)</span>
                    </td>*@
                    <td>
                        <span>@Html.Raw(obj.Cat)</span>
                    </td>
                    <td>
                        <span>@Html.Raw(obj.Link)</span>
                    </td>
                    <td>
                        <span>@Html.Raw(obj.Description)</span>
                    </td>
                    <td>
                        <input type="hidden" value='@obj.id' data-cat='@obj.Cat' data-des='@obj.Description' data-link='@obj.Link' />
                        <span><input id="Edit" class="testbutton1" type="Submit" value="Edit" name="btntype" onclick="FillEdit('tblData3',@obj.id); return false;" />@*<a href="#" onclick="FillEdit(@obj.id); return false;">Edit</a>*@ / <input id="Delete" type="submit" class="testbutton1" value="Delete" name="btntype" onclick=" Deleterecord(@obj.id);" /> @*<a href="#" onclick="Deleterecord(@obj.id); return false;">Delete</a></span>*@
                    </td>
                </tr>
                }
            }
        </table><br />
        <table id="tblData4" class="CSSTableGenerator">
            <tr bgcolor="lightgray">
                <td colspan="6"><b>Secretariat</b></td>
            </tr>
            <tr>
                @*<th align="center">ID</th>*@
                <td align="center">Cat</td>
                <td align="center">Link</td>
                <td align="center">Description</td>
                <td align="center" width="170">Action</td>
            </tr>
            @foreach (GCNI.Models.GovCouncilingANDSecretariat obj in Model.objGovCounAndSec_ML)
            {
                if (obj.Cat == "Secretariat")
                {
                <tr>
                    @*<td align="center">
                        <input type="hidden" value='@obj.id' data-title='@obj.Title' data-des='@obj.Description' data-Disp='@obj.IsDisplayOnHome'/>
                       <span>@Html.Raw(obj.id)</span>
                    </td>*@
                    <td>
                        <span>@Html.Raw(obj.Cat)</span>
                    </td>
                    <td>
                        <span>@Html.Raw(obj.Link)</span>
                    </td>
                    <td>
                        <span>@Html.Raw(obj.Description)</span>
                    </td>
                    <td>
                        <input type="hidden" value='@obj.id' data-cat='@obj.Cat' data-des='@obj.Description' data-link='@obj.Link' />
                        <span><input id="Edit" class="testbutton1" type="Submit" value="Edit" name="btntype" onclick="FillEdit('tblData4',@obj.id); return false;" />@*<a href="#" onclick="FillEdit(@obj.id); return false;">Edit</a>*@ / <input id="Delete" type="submit" class="testbutton1" value="Delete" name="btntype" onclick=" Deleterecord(@obj.id);" /> @*<a href="#" onclick="Deleterecord(@obj.id); return false;">Delete</a></span>*@
                    </td>
                </tr>
                }
            }
        </table>
    </center>
     <input type="hidden" id="hdd" name="hdd" value="0" />
    <input type="hidden" id="id" name="id" value="0" />
    <input type="hidden" id="img" name="img" value="0" />
    <input type="hidden" id="file" name="file" value="0" />
}
   @* </body>
    </html>*@
<script>
    $(document).ready(function(){
        debugger;
        //alert('ok');
        $('#cat').val('');
        $('#Link').val('');
        $('#Desc').jqteVal('');
        $('#cat').focus();
        var text_box1 = document.getElementById('cat');
        text_box1.setAttribute('readonly', 'readonly');  
    });
</script>
<script>
    function msgclear()
    {
        debugger;
        $("#msg").hide();
    }
</script>
   <script type="text/javascript">
       $(document).ready(function(){
           debugger;
           //alert('ok');
      
           //$('#title').val('');
           //$('#Desc').val('');
           //$('#IsDisp').checked=false;
       });
       function FillEdit(tbl,obj) {
           debugger;
           //alert(obj);
           $("#hdd").val(obj);
           //$("#upload1").removeClass("error");
           var $ele = $("#"+tbl+" tr td input[value=" + obj + "]");
           if ($ele != null) {
               $('#cat').val($ele.attr("data-cat"));
               $('#Desc').jqteVal($ele.attr("data-des"));
               $('#Link').val($ele.attr("data-link"));
               window.document.body.scrollTop = '10';
           }

       }
    </script>
<script type="text/javascript">
    function Deleterecord(obj) {
        var status = confirm('Are you sure to delete');
        if (status) {
            //alert(obj);
            $("#id").val(obj);
        }
    }
    </script>
<script type="text/javascript">
    function RemoveClass(obj) {
        $(obj).removeClass("error");
    }
    function Validate() {
        debugger;
        if ((hdd).value == null || (hdd).value.length < 1 || (hdd).value == "0") {
            if ($("#cat").val().length < 1 || $("#Link").val().length < 1 || $("#Desc").val().length < 1) {

                if ($("#cat").val().length < 1) {
                    $("#cat").addClass("error");
                }
                else { $("#cat").removeClass("error"); }
                if($("#Desc").val().length<1)
                {document.getElementById('overmsg').innerHTML="<b>Description can Not be Empty...!</b>";}
                else{$("#overmsg").hide();}
                if ($("#Link").val().length < 1) {
                    $("#Link").addClass("error");
                }
                else { $("#Link").removeClass("error"); }
                return false;
            }
            else if($("#Desc").val().length>1500)
            {
                document.getElementById('overmsg').innerHTML="Maximum 1000 Characters Should be Insert But You Have <b><u>"+$("#Desc").val().length+"</u></b> Characters Plz Reduce <b><u>"+(($("#Desc").val().length)-1000)+"</u></b> Characters";$("#overmsg").show();
                return false;
            }
            else{return true;}

        }

    }
     </script>
<script>
    $("#ThinkDDL li a").click(function () {
        debugger;
        var el = $(this).attr("data-op");
        //alert(el);
        $("#cat").val(el);
        //console.log('inside');
        //if ($(this).attr("data-flag2") === "false") {
        //    $("#ThinkDDL li a").each(function (prop, val) {
        //        var el = $(this).attr("data-think2");
        //        $("#" + el).hide(1000);
        //        $(this).attr("data-flag2", "false");
        //    });

        //    var el = $(this).attr("data-think2");
        //    $("#" + el).show(1000);
        //    $(this).attr("data-flag2", "true");
        //}
        //return false;

    });
</script>
    @* <script type="text/javascript">
         function Deleterecord(obj) {
             var status = confirm('Are you sure to delete');
             if (status) {
                 $.ajax({
                     type: "post",
                     url: "/Admin/ArticleDelete",
                     data: { "id": obj },
                     success: (function (data) {

                         $("#divThinktable").html(data);
                     }),
                     fail: (function (data) {
                     })
                 });
             }
         }
    </script>*@
<script>

    // Custom labels for error display
    Validation.labels = {
        'contact_v1[email]': 'Custom label name from configuration'
    };

</script>
